/* made changes in form container active property for visible on screen */
/* .form-container.active {
  opacity: 1;
  scale: 1;
  display: flex;
} */

/* main */
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --colorDark1: #112d4e;
  --colorDark2: #3f72af;
  --colorLight1: #dbe2ef;
  --colorLight2: #f9f7f7;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  color: var(--colorLight2);
  background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}

h1 {
  max-width: auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

.tab-container {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.tab {
  cursor: pointer;
  font-size: 0.875rem;
  letter-spacing: 1.75px;
  padding: 5px 8px;
}

/* properties for ccurrent tab  */
.tab.current-tab {
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 4px;
}

.weather-container {
 margin-block:4rem;
}

.btn {
  all: unset;
  background-color: var(--colorDark2);
  font-size: 0.85rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  color: var(--colorLight2);
  padding: 10px 30px;
  margin-bottom: 10px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grantLocation-container {
  display: none;
}

.grantLocation-container.active {
  display: flex;
}

.grantLocation-container img {
  margin-bottom: 2rem;
}

.grantLocation-container p:first-of-type {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: capitalize;
}

.grantLocation-container p:last-of-type {
  font-size: 0.85rem;
  font-weight: 500;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
  letter-spacing: 0.75px;
}

/* loader */
.loading-container {
  display: none;
}

.loading-container.active {
  display: flex;
}

.loading-container p {
  text-transform: uppercase;
}

.user-info-weather {
  display: none;
}

.user-info-weather.active {
  display: flex;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 0.5rem;
  margin-bottom: 1rem;
}
.user-info-weather p {
  font: 1.5rem;
  font-weight: 200;
}

.user-info-weather img {
  width: 90px;
  height: 90px;
}

.name p {
  font-size: 2rem;
}
.name img {
  width: 30px;
  height: 30px;
}

.user-info-weather p[data-temp] {
  font-size: 2.75rem;
  font-weight: 700;
}

.parameter-container {
  display: flex;
  gap: 50px 15px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.parameter {
  display: flex;
 
  flex-direction: column;
  gap: 5px 0;
  width: 30%;
  max-width: 200px;
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 5px;
  padding:1rem 2rem;
  
  align-items: center;
}

.parameter img {
  height: 50px;
  width: 50px;
}

.parameter p:first-of-type {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
}

.parameter p:last-of-type {
  font-size: 1rem;
  font-weight: 200;
}

/* search form container */

.form-container {
  display: none;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.form-container.active {
  display: flex;
}

.form-container input{
  all: unset;
  width: calc(100% - 80px);
  height: 40px;
  padding: 0 20px;
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 10px;
}
.form-container input::placeholder{
  color: rgba(255, 255, 255, 0.7);

}

.form-container input:focus{
  outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn{
  padding: unset;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 1px;
  margin-left: 8px;;

}